<!DOCTYPE html>
<html dir="ltr" lang="de">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="{{ url_for('static' , filename='css/main.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static' , filename='css/nav.css') }}" rel="stylesheet"/>
    {% block head %}{% endblock %}
</head>

<body>
<div class="sidebar">
    <a href="/" id="homeelem">Home</a>

    {% for plugin in plugins %}
    <a href="/plugin/{{ plugin[0] }}"> {{ plugin[1] }} </a>
    {% endfor %}
</div>

<div class="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>
