{% extends 'base.html' %}

{% block head %}
<title>{{ start_name }} | Plugin | pytrix</title>
<link href="{{ url_for('static' , filename='css/popup.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div class="popup" id="start_popup">
  <a class="closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a>

  <section class="popup_container">
    <h1 onclick="startPlugin()">START PLUGIN: {{ start_name }}</h1>
  </section>
</div>

{{ plug_html | safe }}

<script>
  function closeNav() {
    document.getElementById("myNav").style.display = "none";
  }

  function startPlugin() {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", "/plugin/-1/input?start_id={{ start_id }}", false ); // false for synchronous request
    xmlHttp.send( null );
    document.getElementById("myNav").style.display = "none";
  }

</script>

{% endblock %}
